<div class="container">
  <div class="row">

    <div class="col-xs-3">

     <h1>Users info</h1>

     <%= attachment_image_tag user, :profile_image, fallback: "no-image.jpg", size: '100x100' %>

     <table class="table">
      <tr>
        <th>name</th>
        <th> <%= user.name %> </th>
      </tr>
      <tr>
        <td>Introduction</td>
        <td> <%= user.Introduction %></td>
      </tr>
    </table>

    <% if user == current_user %>
    <%= link_to edit_user_path(user), class: "edit_user_#{user}" do %>
    <span class="glyphicon glyphicon-wrench btn btn-default" aria-hidden="true" style="width:100%;"> </span>
    <% end %>
    <% end %>





      <h2>New book</h2>
      <%= form_for(book) do |f| %>

      <h4>Title</h4>
      <%= f.text_field :title, class: "book_title" %>
      <h4>opinion</h4>
      <%= f.text_area :opinion, class: "book_body" %>

      <%= f.hidden_field :user_id, value: current_user.id %>
      
    <button class="btn btn-primary" style="width:100%;">Create Book</button>
      <% end %>

    </div>
